body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    box-sizing: border-box;
}

.mobile_nav{
    display: none;

}


.footer_adress_mobile,.working_hours_mob{
display: none;
}

.section{
    width: 100%;
    background-color: rgba(229, 229, 229, 1);
    overflow-x: hidden;
}


.header{
    width: 100%;
    height: 190px;
    background-color: black;

}


.nav{
    max-width: 1200px;
    width:100%;
    height: 190px;
    padding: 0 40px;
    display: grid;
    grid-template-rows: 40px repeat(2,1fr);
    margin: 0 auto;

}


.menu_0{
    width: 210px;
    height: 30px;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cooperation, .active_lang{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;    
    color: #8D8D8D;
    text-decoration: none;

}

.border{
    padding: 0 10px;
    border-right: 1px solid #8d8d8d;
}

.off_lang{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;  
    color: rgb(196, 196, 196, 30%); 
    text-decoration: none;
}

.menu_two{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.menu_two_left{
    display: flex;
    align-items: center;
    position: relative;
}

.button_search_input {
    display: block;
    position: absolute;
    right: 6px;
    top: 2px;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    box-shadow: none;
    border: none;
    background: #f3f7f800;
    background-image: url(image/Vectorsa.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}


.menu_two_right{
    margin-left: auto;
    display: flex;
    width: 200px;
    justify-content: space-around;
}


.logo{
    width: 175px;
    height: 28px;
    margin-right: 20px;
}


.search{
    width: 540px;
    height: 45px;
    background-color: rgba(38, 38, 38, 1);
    outline: none;
    border: none;
    color:rgba(141, 141, 141, 1) ;
}


.menu{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;

}

.menu_left{
    
    display: grid;
    grid-template-columns: 130px 130px 170px 130px;
    align-items: center;
    text-align: center;
}

.navi_bord{
    border-right: 1px solid rgba(141, 141, 141, 1);
    padding-right: 20px;
    text-decoration: none;
    color: #8d8d8d;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    
    }

.navi_bord:hover{
    color: #FFFFFF;
}

.menu_right{
    display: grid;
    grid-template-columns: 190px 170px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    
    }

.tell{
    color: #DDDDDD;
}

.request_a_call{
    padding-left: 20px;
    color: #DDDDDD;    
    }

/* ?????? */

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.breadcrumbs_block{
    display: flex;
}
.breadcrumbs{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    text-decoration: none;
    color: #BCBCBC;


}

.breadcrumbs a{
    text-decoration: none;
    color: #BCBCBC;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.cru{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    gap:10px;

}
.cru img{
    width: 6px;
    height: 6px;
}
.breadcrumbs li{
    margin-right: 10px;
}

.cru_home{
    width: 15px !important;
    height: 18px !important;
    margin-top: -5px;
}

.name_categories{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #464646;
}

.tiles{
    width: 16px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    background-color: #00D093;
    margin-right: 10px;
    

}
.tiles::after,.tiles::before{
    content: "";
    position: absolute;
    background-color:#E5E5E5 ;
    width: 16px;
    height: 2px;
}

.tiles::before{
    top: 3.5px;
}

.tiles::after{
    bottom: 3.5px;
}

.tiles_two{
    position: relative;

}

.tiles_two::after,.tiles_two::before{
    content: "";
    position: absolute;
    background-color:#E5E5E5 ;
    width: 16px;
    height: 2px;
    transform: rotate(90deg);
    top: 6px;
}
.tiles_two::after{
    right:3.5px;
}

.tiles_two::before{
    left: 3.5px;
}

.list{
    width: 18px;
    height: 2px;
    position: relative;
    background-color: #BCBCBC;
    border-radius: 2px;
    margin-top: 4px;
}
.list::after,.list::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: #BCBCBC;
    top: 0;

}
.list::after{
top: 4px;
}

.list::before{
top: -4px;
}

.list_two{
    position: absolute;
    background-color: #BCBCBC;
    top: -8px;
    width: 18px;
    height: 2px;
    border-radius: 2px;
}

.block_gallery{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.product_container{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 840px;
    grid-template-rows: auto;
    margin: 0 auto;
    gap: 20px 20px;
}

.one{
    grid-column-start: 1;
    grid-row-start: span 2;
    width: 100%;
    height: 560px;
    background-color: rgba(40, 40, 40, 1);
    display: grid;
    grid-template-rows: 82px auto 82px;
    
}

.Apply{
    outline: none;
    background-color: #00D093;
    color: black;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.Reset{
    outline: none;
    background-color: rgba(40, 40, 40, 1);
    color: #8D8D8D;
    border:2px solid #00D093;
    font-size: 18px;
    cursor: pointer;

}
.filter_head{
    background-color: #111111;
    color: #FFFFFF;
    width: 100%;
    font-size: 24px;
    
    
}

.protection{
    position: relative;
    width: 300px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 28px 25px 22px 25px;

}

.protection::after,.protection::before{
content: "";
position: absolute;
width: 5px;
height: 19px;
background-color: #00D093;
transform: rotate(0deg);
border-radius: 60px;

}

.protection::after{
    top: 11px;
    right: 0;
}

.protection::before{
    top: 3px;
    right: 10px;
}

.filter_butt{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}


.select{
    display: grid;
    grid-template-rows: repeat(4, 65px);
    align-items: center;
    align-content: center;
    gap: 15px;
}

.model_selection{
    width: 302px;
    margin: 0 auto;
    position: relative;
   

}
.btn{ 
    width: 100%;
    outline: none;
    border: 1px solid #8D8D8D;
    background-color: #282828;
    padding-top: 17px;
    padding-bottom: 18px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color:#BCBCBC ;
    text-align: left;
    padding-left: 20px;
    position: relative;
    
}

.btn::after,.btn::before{
    content: "";
    position: absolute;
    right: 25px;
    top: 5px;
    width: 3px;
    height: 12px;
    background-color: #8D8D8D;
    border: 2px;
   
}

.btn::after{
    transform: rotate(45deg);
    top: 25px;
    right:33px;
}

.btn::before{
    transform: rotate(-45deg);
    top: 25px;
    right: 40px;
}


.mark_btn_active{
border: 1px solid #00D093;
}

.mark_btn_active::after, .mark_btn_active::before 
.model_btn_active::after, .model_btn_active::before 
.years_btn_active::after, .years_btn_active::before 
.tip_btn_active::after, .tip_btn_active::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #8D8D8D;
    border-radius: 2px;
    top: 25px;
}

    .mark_btn_active::before,
    .model_btn_active::before ,
    .years_btn_active::before ,
    .tip_btn_active::before {
        right: 40px;
        transform: rotate(45deg);
    }

    .mark_btn_active::after,
    .model_btn_active::after ,
    .years_btn_active::after ,
    .tip_btn_active::after {
        right: 33px;
        transform: rotate(-45deg);
    }

.dropdown-menu{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 240px;
    overflow-y: scroll;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding-left: 20px;
    background-color: #282828;
    border-left: 1px solid #00D093;
    border-bottom: 1px solid #00D093;
    border-right: 1px solid #00D093;
    z-index: 2;
    box-sizing: border-box;

}

.dropdown-menu::-webkit-scrollbar {
    width: 5px;
    
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #00D093;
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #282828;
  }

  .dropdown-item{
    text-decoration: none;
    color:#BCBCBC ;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
      
  }
  .dropdown-item:active{
      color: #00D093;
  }



  .mark,.years,.model,.tip{
      display: none;
  }
  .mark_active,.years_active,.model_active,.tip_active{

    display: grid;
  }




/* ??????? */

.two{
    grid-column-start: 2;
    grid-row-end: 1;
    width: 625px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    
}


.block_year{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
}


.year{
    width: 53px;
    height: 44px;
    border: 1px solid #BCBCBC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    color: #3D3D3D;

}


.year:hover{
    border: 3px ridge  #000000;
    color: #000000;
    font-weight: bold;

}


/* ??????? */
.three{
    grid-column-start: 2;
    grid-row-end: 2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 372px);
    grid-template-rows: auto;
    gap: 5px 5px;
    text-align: center;
}
.card{
    width: 372px;
    height: 580px;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px 20px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 45px auto 30px 100px 60px 62px;
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    

    
}

.card_header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 24px;
    color: #bebebe;
    align-items: center;

}
.star,.coment_icon{
    
    width: 35.5px;
    height: 35.5px;
}


.coment_block{
    display: flex;
    margin-right: 45px;
    align-items: center;
}

.foto_card{
    margin: 0 auto;
    width: 302px;
    height: 246px;

}

.info_card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.id_card{
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #BCBCBC;
    }

.price{
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}


.dicript{
    text-align: left ;
    width: 330px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;

}

.feature{
    display: block;
    text-align: left;
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.feat{
    font-size: 14px;line-height: 24px;font-family: 'Lato', sans-serif;color: #bcbcbcbc;
}

.card_butt{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
}

.buy_in_click{
    outline: none;
    border: 3px solid #000000;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    
}


.order{
    outline: none;
    background-color: rgb(0, 0, 0);
    color: #f1f1f1;
    font-size: 18px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    cursor: pointer;
}

/* ?????????? */

.pagin{
    width: 100%;
    grid-column-start: 2;

}
.show_more{
    width: 746px;
    height: 125px;
    border-bottom: 1px solid #464646;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_link{
    display: flex;
    text-decoration: none;
    color: #464646;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
}
#more{
    width:45px ;
    height: 40px;
    margin-left: 20px;

}

.navigation{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

}

.pagination{

    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.page_item_ul{
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.page_link,.page-item{
    text-decoration: none;
    color: #464646;
    width: 40px;
    height: 52px;
    display: flex;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    
}
.page_link:active{
    border: 1px solid #111111;

}
.page_links{
    text-decoration: none;
    color: #464646;
    display: flex;
    
}
.dab,.sr-only{
    width: 23px;
    height: 22px;
}

.transform180{
    transform: rotate(180deg);
}

/* ///////////////////// */


.advantages_inversiya{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}


.inform{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    width: 312px;
    margin: 0 auto;
}


.informat{
    font-size: 17px;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #464646;

}

.material,.war,.pri{
    font-family: "Lato",sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #464646;
}


.img_info{
    margin: 0 auto;
}
/* ........................ */

footer{
    width: 100%;
    height: 775px;
    background-color: #000000;
    align-items: center;
    display: flex;
    color:#FFFFFF ;

}
.footer_container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: grid;
    grid-template-rows: 100px 230px 200px
    

}

.footer_logo_block{
    display: flex;
    align-items: center;
    
}
.footer_logo{
    width: 126px;
    height: 28px;

}


.footer_block{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    margin: 0 auto;
    align-items: center;
    color: #FFFFFF;
}


.footer_adress{
    width: 223px;
    height: 240px;
    display: grid;
    grid-template-rows: 65px repeat(2, 1fr);
    font-family: "Lato", sans-serif;
    font-size: 18px;

}



.phone_footer,.working_hours,.adress,.a_phone{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 32px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}


.a_phone{
    height: 50px;
    margin-top: 5px;
}


.footer_menu,.footer_share{
    width: 223px;
    height: 240px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
}


.footer_menu_link,.footer_share_link{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    color: #FFFFFF;
}


.footer_delivery{
    width: 223px;
    height: 240px;
    display: grid;
    grid-template-rows: 50px 100px;
}


.delivery_icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    
}


.footer_payment{
    width: 223px;
    height: 240px;
    display: grid;
    grid-template-rows: 50px 100px;
}


.payment_icon{
    display: grid;
    width: 140px;
    grid-template-columns: repeat(2, 1fr);

}


.block_media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.insta{
    width: 15px;
    height: 15.16px;
}


.face{
    width: 10.83px;
    height: 20.21px;
}


.you{
    width: 17.45;
    height: 12.13px;
}


.icon_media{
    width: 150px;
    display: flex;
    justify-content: space-around;
}


.dizine{
    margin-right: 90px;
}




@media screen and ( max-width:1240px) and (min-width: 760px) {
    .navi_bord,.request_a_call{
        font-size: 14px;
    }

    
   
    .product_container {
        grid-template-columns: 300px 1fr;
    }

    .three{
        grid-template-columns: repeat(2, 1fr);
        

    }

    .card{
        width: 100%;
        height: 550px;
        padding: 5px 10px 20px 10px;
        

    }

    .foto_card{
        width: 245px;
        height: auto;
    }

    .price{
        font-size: 18px;
    }

    .id_card {
        font-size: 14px;
    }
    .dicript {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }
    .feature {
        font-size: 13px;
        line-height: 22px;
    }


    .buy_in_click,.order{
        font-size: 16px;

    }


    .star, .coment_icon {
        width: 31.5px;
        height: 31.5px;
    }

    .one{
        grid-template-rows: 80px auto 75px;
        height: 520px;
    }

    .two{
        width: 85%;
    }

    .protection{
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        box-sizing: border-box;
        margin: 0;
        padding: 26px 0 26px 26px;  
    }
    .protection::after, .protection::before{
        width: 3px;
        height: 12px;

    }
    .protection::after{
        top: 38px;
        right: 18px;

    }

    .protection::before{
        top: 33px;
        right: 25px;
    }
    .model_selection{
        width: 85%;
    }
    .btn {
        font-size: 15px;
    }
    .Reset,.Apply{
        font-size:15px ;

    }
    .year{
        width: 48px;
        height: 38px;
    }
    
    footer{
        height: 575px;
    }


    .informat,.material, .war, .pri {
    font-size: 15px;

}

    .show_more{
        width: 100%;
    }


    .phone_footer, .working_hours, .adress, .a_phone {
        font-size: 16px; 
        line-height: 30px
    }

    .footer_menu, .footer_share{
        width: 190px;
    }
    .footer_adress {
        width: 200px;
    }

    .footer_container{
        padding: 0 20px;
        grid-template-rows:100px 230px 150px;
    }
    .footer_delivery{
        width: 248px;
    }

}

    @media screen and ( max-width:1039px) and (min-width: 820px){

        


        .navi_bord,.request_a_call{
            font-size: 14px;
        }
    
        .container,.nav{
            padding: 0 15px;
        }

        .cooperation,.active_lang .border
        .off_lang{
            font-size: 11px;
        }

        .logo{
            width: 150px;
            height: auto;
            margin-right: 10px;
        }
        .menu_left{
            grid-template-columns: 100px 100px 150px 100px;
        }
        .search{
            width: 450px;
            height: 40px;
        }
        .button_search_input{
            top: 5px;
            width: 30px;
            height: 30px;

        }
        .cru_home {
            width: 13px !important;
            height: 16px !important;
        }

        .breadcrumbs a{
            font-size: 12px;
        }
        .name_categories {
            font-size: 20px;
        }
        .one{
            grid-template-rows: 80px auto 75px;
            height: 520px;
        }
    
        .two{
            width: 85%;
        }
    
        .protection{
            width: 100%;
            font-size: 20px;
            line-height: 30px;
            box-sizing: border-box;
            margin: 0;
            padding: 26px 0 26px 26px;  
        }
        .protection::after, .protection::before{
            width: 3px;
            height: 12px;
    
        }
        .protection::after{
            top: 38px;
            right: 18px;
    
        }
    
        .protection::before{
            top: 33px;
            right: 25px;
        }
        .model_selection{
            width: 85%;
        }
        .btn {
            font-size: 15px;
        }
        .Reset,.Apply{
            font-size:15px ;
    
        }

        .buy_in_click, .order {
            font-size: 12px;
        }

        .inform{
            width: 290px;
        }

        .navigation {
            width: 100%;
        }
    
        .footer_container {
            grid-template-rows: 100px 230px 200px 80px;
        }
    
    }


    @media screen and ( max-width:870px) and (min-width: 760px){
        .button_search_input{
            width: 30px;
            height: 30px;
        }

        .protection{
            font-size: 20px;
            line-height: 30px;
            margin: 0;
            padding: 26px 0 26px 26px;  
        }

        .menu_0{
            margin-left:0;
        }
        .search {
            width: 350px;
            height: 35px;
        }
        .menu_two_right{
            justify-content: flex-start;
        }

        .menu_left {
            grid-template-columns: 75px 75px 145px 75px;
        }

        .request_a_call{
            padding: 0;
        }

        .navi_bord{
            padding-right: 10px;
        }
        
        .three{
            grid-template-columns:auto
        }
        .card{
            width: 75%;
        }
        .two {
            width: 100%;
        }

        .year {
            width: 40px;
            height: 35px;
        }

        footer{
            height: 775px;
        }

        .block_media{
            grid-row-start: 4;
        }


        .footer_menu, .footer_share{
            justify-content: flex-start;
            margin: 0 auto;
        }


        .footer_block{
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        .container{
            padding: 0 30px;
        }

        .advantages_inversiya{
            grid-template-columns: repeat(2, 1fr);
        }

        .buy_in_click, .order {
            font-size: 12px;
        }

        .navigation{
            width: 100%;
        }

        .footer_container {
            grid-template-rows: 100px 230px 230px 80px;
        }

        @media screen and ( max-width:870px) and (min-width: 760px){
            .card {
                width: 90%;
            }
        }
    }
        @media screen and ( max-width:759px) and (min-width: 319px){

        .mobile_nav{
            display: block;
        }

        .burger_menu{
            width: 65%;
            position: absolute;
            top: 85px;
            z-index: 2;
            right: -280px;
            display: grid;
            grid-template-rows: repeat(2,1fr);
            padding: 0 40px;
            background-color: #111111;
            transition: .2s;
            box-shadow: 1px 2px 12px 2px #1c1c1c;
            
        }

        .active_burger{
            right: 0;
        }
        .burger_menu_active{
            
            grid-template-rows: 242px 450px;
        }


        .menu_right_mobile{
            width: 100%;
            padding-bottom: 20px;
            padding-top: 20px;
            display: grid;
            grid-template-rows: repeat(5, 40px);
            align-items: center;
            border-bottom: 2px solid #464646;


        }
        .navi_bord_mob{
            text-decoration: none;
            color: #8D8D8D;
            font-size: 18px;
        }

        .navi_bord_mob:active{
            color: #FFFFFF;
        }
        .menu_0_mobile{
            display: flex;
            
        }

        .active_lang_mob{
            padding-left: 0;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #8d8d8d;
            text-decoration: none;
        }

        .off_lang_mob{
            padding-left:10px ;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: rgb(196, 196, 196, 30%);
            text-decoration: none;

        }

        .for_compani{
            display: grid;
            grid-template-rows: 40px 70px;
            align-items: center;
            padding-top: 20px;
        }

        .for_compani_active{
            grid-template-rows: 40px 300px 40px;
        }

        .for_compani_navi{
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #fff;
            position: relative;
            width: 150px;
        }

        

        .for_compani_navi::after,
        .for_compani_navi::before{
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            background-color: #DDDDDD;
            border-radius: 2px;
            top: 6px;
        }
        .for_compani_navi::after{
            
            right: 20px;
            transform: rotate(-45deg);
        }

        .for_compani_navi::before{
            
            right: 13px;
            transform: rotate(45deg)
        }

        .for_navi_active::after,
        .for_navi_active::before{
            content: "";
            position: absolute;
            width: 2px;
            height: 12px;
            background-color: #DDDDDD;
            border-radius: 2px;
            top: 6px;
        }

        .for_navi_active::after{
            
            right: 16px;
            transform: rotate(-45deg);
        }

        .for_navi_active::before{
            
            right: 16px;
            transform: rotate(45deg)
        }

        .call_mob{
        display:block ;

        }

        
        .navi_mob{
            display: none;
            grid-template-rows: repeat(7, 40px);
           
        }

        .navi_mob_active{
            display: grid;
        }
               

        .tell_mob,.request_a_call_mob{
            text-decoration: none;
            color: #DDDDDD;
            font-family: "Lato", sans-serif;
            font-size: 18px;
            font-style: normal;
        }
        .request_a_call_mob{
            border-bottom: 1px solid #DDDDDD;
            margin-bottom: 20px;
        }

        .logo{
            width: 117px;
            height: 28px;
        }

        .mobile_nav{
            display: block;
            display: grid;
            grid-template-rows: 85px 54px;
            position: relative;
            
        }

        .header{
            display: none;

        }

        .open_burger_button{
            width: 50px;
            height: 50px;
            outline: none;
            border: none;
            background-color: #111111;
            
        }
        .bur{
            width: 30px;
            height: 2px;
            margin: 0 auto;
            background-color: #fdfdfd;
            position: relative;

        }
        .bur_active{
            background-color: #000000;
        
        }


        .bur::after,.bur::before{
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: #fdfdfd;
            left: 0;
        }
        .bur::after{
            top: -10px;
        }
        .bur::before{
            top: 10px;
        }


        .bur_active::after,.bur::before{
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: #fdfdfd;
            left: 0;

        }

        .bur_active::after{
            top:0;
            transform: rotate(45deg);
        }
        .bur_active::before{
            top: 0;
            transform: rotate(-45deg)
        }


        .mobile_menu_header{
            padding: 0 30px;
            background-color: #000000;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .mobile_menu_green{
            display: flex;
            padding: 0 30px;
            background-color: #00D093;
            justify-content: space-around;
            align-items: center;
        }

        .mobile_search{
            display: none;
        }

        .mobile_search_button{
            outline: none;
            border: none;
            background-image: url("image/sq_mobile.png");
            font-size: 50px;
            background-repeat: no-repeat;
            background-position: center;
            width: 45px;
            height: 54px;
            background-color: #00D093;

        }

        .block_gallery{
            display: none;
        }

        .name_categories{
            font-size: 23px;
            margin-top: 0;
        }

        .one{
            height: 81px;
        }

        .one_active{
            height: 560px;
        }

        .filter_head_active{
            display: block;
        }

        .select_active{
            display: grid;
        }

        .filter_butt_active{
            display: grid;
        }

        .select,.filter_butt{
            display: none;
        }

        .product_container{
            display: block;
        }

        .two{
            width: 100%;
            margin: 20px auto;
        }

        .three{
            grid-template-columns:auto
                }

        .card{
            width: auto;
            grid-template-rows: 45px auto 30px 100px 70px 62px;
        }
        
        .foto_card{
            width: 270px;
            height: auto;
        }

        .price{
            font-size: 15px;
            line-height: 30px;
        }

        .dicript{
            width: 100%;
            font-size: 14px;
            line-height: 20px;
        }

        .id_card{
            font-size:13px
        }

        .feature span{
            font-size: 13px;
        }

        .buy_in_click,.order{
            font-size: 16px;
        }

        .show_more{
            width: auto;
        }

        .advantages_inversiya {
            display: none;
        }


         .footer_logo_block{
            display: none;
        }

        /* .footer_container{
            grid-template-rows: repeat(4, 1fr);
        } */

         .footer_block{
            grid-template-columns: repeat(2, 1fr);         
        } 


        .block_media{
            grid-row-start: 4;
        }
        .footer_menu{
            grid-column-start: 1;
            grid-row-start: 1;
            justify-content: flex-start;
        }
        .footer_share{
            grid-column-start: 2;
            grid-row-start: 1;
        }

        .a_phone_mob{
            text-decoration: none;
            color: #f1f1f1;
            font-size: 16px;
        }

        .footer_adress{
            display: none;
        }

        .footer_adress{
            grid-column-start: 1;
            grid-row-start: 3;
        }

        .footer_menu, .footer_share{
            height: 170px;
            justify-content: flex-start;
        }

        .footer_block{
            gap: 50px 0px;
        }
        .footer_container{
            grid-template-rows: 100px 230px 200px 200px;
            margin-top: 70px;
        }

        .footer_delivery,.footer_payment{
            height: 170px;
        }

        footer{
            width: 100%;
        }
        .a_phone_mob{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
        }
        .mob_adress{
            width: 153px;
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;

        }

        .working_hours_mob{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;

        }

        .payment_icon {
            display: grid;
            width: 100px;
            align-items: center;
            justify-items: center;
            grid-template-columns: auto;
        }
        
        .footer_adress_mobile, .working_hours_mob {
            display: block;
        }

        /* .swiper {
            width: %;
            height: 300px;
          }
      
         .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
         } */



        
    }

    @media screen and ( max-width:377px) and (min-width: 319px){
        .container {
           
            padding: 0 10px;
        }
            .name_categories {
                font-size: 19px;
        }

        .protection {
            width: 80%;
            margin: 0;
            padding: 26px 0 26px 20px;
            font-size: 20px;
        }

        .protection::after, .protection::before{
            width: 3px;
            height: 14px; 
        }
        .protection::before {
            top: 32px;
            right: 25px;
        }
        .protection::after {
            top: 38px;
            right: 16px;
        }
        .navi_bord_mob,.active_lang_mob,
        .off_lang_mob,.for_compani_navi,
        .tell_mob,.request_a_call_mob{
            font-size: 16px;
        }

        




        .foto_card{
            width: 230px;
        }
        .card_header{
            font-size: 11px;
        }
        .id_card {
            font-size: 11px
        }

        .dicript{
            font-size: 12px;
        }
        


        .buy_in_click, .order {
            font-size: 13px;
        }

        .feature span {
            font-size: 12px;
        }

        .feat{
            font-size: 11px;
        }


        .price{
            font-size: 13px;
        }

        .star, .coment_icon {
            width: 25.5px;
            height: 25.5px;
        }
        .show_link {
            font-size: 20px;
        }
        #more{
            width: 30px;
            height: 25px;  
        }
        .footer_container{
            padding: 0 10px;
        }


        .footer_menu, .footer_share{
            width: 100px;
        }

        .footer_menu_link, .footer_share_link{
            font-size: 12px;
            line-height: 27px;
        }

        .footer_delivery, .footer_payment{
            width: 180px; 
        }

        .payment_icon img{
            width: 40%;
        }

        .footer_delivery, .footer_payment,.dizine{
            font-size: 12px;
        }

        .a_phone_mob,.mob_adress,.working_hours_mob{
            font-size: 12px;
        }

    



    }

    @media screen and ( max-width:377px) and (min-width: 325px)
    {.footer_container {
        padding: 0 40px;
    }
}








