body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    box-sizing: border-box;
}


.section{
    width: 100%;
    background-color: rgba(229, 229, 229, 1)

}


.header{
    width: 100%;
    height: 190px;
    background-color: black;

}


.nav{
    max-width: 1200px;
    width:100%;
    height: 190px;
    padding: 0 40px;
    display: grid;
    grid-template-rows: 40px repeat(2,1fr);
    margin: 0 auto;

}


.menu_0{
    width: 210px;
    height: 30px;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cooperation, .active_lang{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;    
    color: #8D8D8D;
    text-decoration: none;

}

.border{
    padding: 0 10px;
    border-right: 1px solid #8d8d8d;
}

.off_lang{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;  
    color: rgb(196, 196, 196, 30%); 
    text-decoration: none;
}

.menu_two{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.menu_two_left{
    display: flex;
    align-items: center;
    position: relative;
}

.button_search_input {
    display: block;
    position: absolute;
    right: 6px;
    top: 2px;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    box-shadow: none;
    border: none;
    background: #f3f7f800;
    background-image: url(image/Vectorsa.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}


.menu_two_right{
    margin-left: auto;
    display: flex;
    width: 200px;
    justify-content: space-around;
}


.logo{
    width: 175px;
    height: 28px;
    margin-right: 20px;
}


.search{
    width: 540px;
    height: 45px;
    background-color: rgba(38, 38, 38, 1);
    outline: none;
    border: none;
    color:rgba(141, 141, 141, 1) ;
}


.menu{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;

}

.menu_left{
    
    display: grid;
    grid-template-columns: 130px 130px 170px 130px;
    align-items: center;
    text-align: center;
}

.navi_bord{
    border-right: 1px solid rgba(141, 141, 141, 1);
    padding-right: 20px;
    text-decoration: none;
    color: #8d8d8d;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    
    }

.navi_bord:hover{
    color: #FFFFFF;
}

.menu_right{
    display: grid;
    grid-template-columns: 190px 170px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    
    }

.tell{
    color: #DDDDDD;
}

.request_a_call{
    padding-left: 20px;
    color: #DDDDDD;    
    }

/* ?????? */

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.breadcrumbs_block{
    display: flex;
}
.breadcrumbs{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    text-decoration: none;
    color: #BCBCBC;


}

.breadcrumbs a{
    text-decoration: none;
    color: #BCBCBC;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.cru{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    gap:10px;

}
.cru img{
    width: 6px;
    height: 6px;
}
.breadcrumbs li{
    margin-right: 10px;
}

.cru_home{
    width: 15px !important;
    height: 18px !important;
    margin-top: -5px;
}

.name_categories{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #464646;
}

.tiles{
    width: 16px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    background-color: #00D093;
    margin-right: 10px;
    

}
.tiles::after,.tiles::before{
    content: "";
    position: absolute;
    background-color:#E5E5E5 ;
    width: 16px;
    height: 2px;
}

.tiles::before{
    top: 3.5px;
}

.tiles::after{
    bottom: 3.5px;
}

.tiles_two{
    position: relative;

}

.tiles_two::after,.tiles_two::before{
    content: "";
    position: absolute;
    background-color:#E5E5E5 ;
    width: 16px;
    height: 2px;
    transform: rotate(90deg);
    top: 6px;
}
.tiles_two::after{
    right:3.5px;
}

.tiles_two::before{
    left: 3.5px;
}

.list{
    width: 18px;
    height: 2px;
    position: relative;
    background-color: #BCBCBC;
    border-radius: 2px;
    margin-top: 4px;
}
.list::after,.list::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: #BCBCBC;
    top: 0;

}
.list::after{
top: 4px;
}

.list::before{
top: -4px;
}

.list_two{
    position: absolute;
    background-color: #BCBCBC;
    top: -8px;
    width: 18px;
    height: 2px;
    border-radius: 2px;
}

.block_gallery{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.product_container{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 840px;
    grid-template-rows: auto;
    margin: 0 auto;
    gap: 20px 20px;
}

.one{
    grid-column-start: 1;
    grid-row-start: span 2;
    width: 100%;
    height: 560px;
    background-color: rgba(40, 40, 40, 1);
    display: grid;
    grid-template-rows: 82px auto 82px;
    
}

.Apply{
    outline: none;
    background-color: #00D093;
    color: black;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.Reset{
    outline: none;
    background-color: rgba(40, 40, 40, 1);
    color: #8D8D8D;
    border:2px solid #00D093;
    font-size: 18px;
    cursor: pointer;

}
.filter_head{
    background-color: #111111;
    color: #FFFFFF;
    width: 100%;
    font-size: 24px;
    
    
}

.protection{
    position: relative;
    width: 300px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 28px 25px 22px 25px;

}

.protection::after,.protection::before{
content: "";
position: absolute;
width: 5px;
height: 19px;
background-color: #00D093;
transform: rotate(0deg);
border-radius: 60px;

}

.protection::after{
    top: 11px;
    right: 0;
}

.protection::before{
    top: 3px;
    right: 10px;
}

.filter_butt{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}


.select{
    display: grid;
    grid-template-rows: repeat(4, 65px);
    align-items: center;
    align-content: center;
    gap: 15px;
}

.model_selection{
    width: 302px;
    margin: 0 auto;
   

}
.btn{ 
    width: 100%;
    outline: none;
    border: 1px solid #8D8D8D;
    background-color: #282828;
    padding-top: 17px;
    padding-bottom: 18px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color:#BCBCBC ;
    text-align: left;
    padding-left: 20px;
    position: relative;
    
}

.btn::after,.btn::before{
    content: "";
    position: absolute;
    right: 25px;
    top: 5px;
    width: 3px;
    height: 12px;
    background-color: #111111;
    border: 2px;
   
}

.btn::after{
    transform: rotate(45deg);
    top: 25px;
    right:33px;
}

.btn::before{
    transform: rotate(-45deg);
    top: 25px;
    right: 40px;
}


.dropdown-menu{
    display: none;
}



/* ??????? */

.two{
    grid-column-start: 2;
    grid-row-end: 1;
    width: 625px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    
}


.block_year{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
}


.year{
    width: 53px;
    height: 44px;
    border: 1px solid #BCBCBC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    color: #3D3D3D;

}


.year:hover{
    border: 3px ridge  #000000;
    color: #000000;
    font-weight: bold;

}


/* ??????? */
.three{
    grid-column-start: 2;
    grid-row-end: 2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 372px);
    grid-template-rows: auto;
    gap: 5px 5px;
    text-align: center;
}
.card{
    width: 372px;
    height: 580px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: grid;
    grid-template-rows: 45px auto 30px 100px 60px 62px;
    padding: 5px 20px 20px 20px;
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    

    
}

.card_header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 24px;
    color: #bebebe;
    align-items: center;

}
.star,.coment_icon{
    
    width: 35.5px;
    height: 35.5px;
}


.coment_block{
    display: flex;
    margin-right: 45px;
    align-items: center;
}

.foto_card{
    margin: 0 auto;
    width: 302px;
    height: 246px;

}

.info_card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.id_card{
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #BCBCBC;
    }

.price{
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}


.dicript{
    text-align: left ;
    width: 330px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

}

.feature{
    display: block;
    text-align: left;
    font-family: 'Lato', sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.card_butt{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
}

.buy_in_click{
    outline: none;
    border: 3px solid #000000;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    
}


.order{
    outline: none;
    background-color: rgb(0, 0, 0);
    color: #f1f1f1;
    font-size: 18px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    cursor: pointer;
}

/* ?????????? */

.pagin{
    width: 100%;
    grid-column-start: 2;

}
.show_more{
    width: 746px;
    height: 125px;
    border-bottom: 1px solid #464646;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.show_link{
    display: flex;
    text-decoration: none;
    color: #464646;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
}
#more{
    width:45px ;
    height: 40px;
    margin-left: 20px;

}

.navigation{
    width: 746px;
    text-align: center;

}

.pagination{

    display: flex;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}


/* ///////////////////// */


.advantages_inversiya{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}


.inform{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    width: 257px;
    margin: 0 auto;
}


.img_info{
    margin: 0 auto;
}
/* ........................ */

footer{
    width: 100%;
    height: 775px;
    background-color: #000000;
    align-items: center;
    display: flex;
    color:#FFFFFF ;

}
.footer_container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 230px 200px
    

}

.footer_logo_block{
    display: flex;
    align-items: center;
}

.footer_block{
max-width: 1200px;
width: 100%;
display: grid;
grid-template-columns: repeat(5, 1fr) ;
margin: 0 auto;
align-items: center;
color: #FFFFFF;
}


.footer_adress{
    width: 223px;
    height: 240px;
    display: grid;
    grid-template-rows: 65px repeat(2, 1fr);
    font-family: "Lato", sans-serif;
    font-size: 18px;

}



.phone_footer,.working_hours,.adress,.a_phone{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 32px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}


.a_phone{
    height: 50px;
    margin-top: 5px;
}


.footer_menu,.footer_share{
    width: 223px;
    height: 240px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
}


.footer_menu_link,.footer_share_link{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    color: #FFFFFF;
}


.footer_delivery{
    width: 223px;
    height: 240px;
    display: grid;
    grid-template-rows: 50px 100px;
}


.delivery_icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    
}


.footer_payment{
    width: 223px;
    height: 240px;
    display: grid;
    grid-template-rows: 50px 100px;
}


.payment_icon{
    display: grid;
    width: 140px;
    grid-template-columns: repeat(2, 1fr);

}


.block_media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.insta{
    width: 15px;
    height: 15.16px;
}


.face{
    width: 10.83px;
    height: 20.21px;
}


.you{
    width: 17.45;
    height: 12.13px;
}


.icon_media{
    width: 150px;
    display: flex;
    justify-content: space-around;
}


.dizine{
    margin-right: 90px;
}